@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.account-page {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row-reverse;
  }
  @include desktop {
    flex-direction: row-reverse;
  }

  #desktop-sidebar {
    width: 300px;
    @include mobile {
      display: none;
    }
  }
  #mobile-dropdown {
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }

  .sidebar {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
      justify-content: flex-start;
    }
    @include desktop {
      justify-content: flex-start;
    }
  }

  .sidebar button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .sidebar button:hover {
    background-color: #555;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }

  .sidebar li {
    margin-bottom: 10px;
  }

  .sidebar li button {
    width: 100%;
  }

  .hide {
    display: none;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;

    @include tablet {
      width: 100%;
    }
    @include desktop {
      width: 100%;
    }

    .main-content {
      display: none;
      width: 100%;
      margin-top: 20px;
    }
  }

  #delete-account {
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    gap: 10px;

    @include tablet {
      padding: 30px;
      gap: 40px;
      width: 50%;
    }
    @include desktop {
      padding: 30px;
      gap: 40px;
      width: 50%;
    }

    .delete-account__btn {
      max-width: 50%;
      box-shadow: inset 0px 1px 0px 0px #f29c93;
      background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
      background-color: #fe1a00;
      border-radius: 15px;
      border: 1px solid #d83526;
      cursor: pointer;
      color: #ffffff;
      font-size: 15px;
      font-weight: bold;
      padding: 6px 10px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #b23e35;

      &:hover {
        background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
        background-color: #ce0100;
      }
    }
    .delete-account__title {
      text-align: center;
    }
    .delete-account__warning {
      text-align: center;
    }
  }

  .no-posts-message {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
