@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.account-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 50px 10px;
  gap: 10px;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: row;
  }
}
