@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.option-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border: 2px solid grey;
  border-radius: 15px;

  @include tablet {
    width: 500px;
  }
  @include desktop {
    width: 500px;
  }

  &__btn {
    border: 1px solid black;
    border-radius: 25px;
    background-color: red;
    color: #fff;
    padding: 10px 25px;
  }
}
