.gm-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 150px;
  color: black;
  padding: 0 32px;
  border-bottom: solid 3px black;
}
.gm-logo {
    height: 500px;
    z-index: -1;
}
.right-nav {
    display: flex;
    align-items: stretch;
}
.right-nav>ul>li>a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    
}
.right-nav>ul {
    display: flex;
    align-items: stretch;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.right-nav>ul>li{
    padding: 0 10px;
    
}