@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.create-post-button {
    display: flex;
    justify-self: center;
background-color: red;
color: #fff;
padding: 10px;
border-radius: 10px;
margin-top: 15px;
}