@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.create-post {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 20px 10px;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 10px;
  gap: 15px;

  @include tablet {
    width: 75%;
    margin: 20px auto;
  }
  @include desktop {
    width: 50%;
    margin: 20px auto;
  }

  &__upload {
    align-self: center;
  }

  &__media-preview {
    justify-self: center;
    max-height: 500px;
    object-fit: contain;

    @include tablet {
      align-self: center;
    }
    @include desktop {
      align-self: center;
    }
  }

  &__caption {
    padding: 10px;
    border-radius: 5px;
  }

  &__submitbtn {
    align-self: center;
    box-shadow: inset 0px 1px 0px 0px #f29c93;
    background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
    background-color: #fe1a00;
    border-radius: 6px;
    border: 1px solid #d83526;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;

    &:hover {
      background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
      background-color: #ce0100;
    }
  }
}
