@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 20px;
  width: 100%;
}
.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px 5px #d3d3d3;

  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 50%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__delete {
    align-self: center;
    font-size: 20px;

    &:hover {
      cursor: pointer;
      color: red;
    }
  }
  &__back-btn:hover {
    cursor: pointer;
    color: red;
  }
  &__author {
    font-size: 16px;
  }

  &__caption {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  &__media {
    display: flex;
    align-self: center;
    margin: 10px 0;
    object-fit: contain;
    max-height: 500px;
    max-width: 100%;

    &--container {
      display: flex;
      justify-content: center;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
    padding-top: 10px;
    gap: 20px;
  }

  &__likes-container {
    display: flex;
    gap: 20px;
    padding-left: 10px;
  }

  &__like {
    color: green;
    &:hover {
      cursor: pointer;
      scale: 1.2;
    }
  }

  &__dislike {
    color: red;
    &:hover {
      cursor: pointer;
      scale: 1.2;
    }
  }

  &__isRead {
    display: flex;
    padding-right: 10px;
    gap: 10px;
  }
  &__comment-form {
    margin-top: 5px;
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    justify-content: space-between;

    &--input {
      border: none;
      width: 100%;
      margin-right: 5px;
      padding-left: 5px;
    }

    &--btn {
      box-shadow: inset 0px 1px 0px 0px #f29c93;
      background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
      background-color: #fe1a00;
      border-radius: 15px;
      border: 1px solid #d83526;
      cursor: pointer;
      color: #ffffff;
      font-size: 15px;
      font-weight: bold;
      padding: 6px 10px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #b23e35;

      &:hover {
        background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
        background-color: #ce0100;
      }
    }
  }
}
.comment {
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;

  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__remove:hover {
    cursor: pointer;
    color: red;
  }

  &__author {
    font-size: 16px;
  }
  &__line-break {
    margin-top: 10px;
  }
}
