@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.post {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 10px;

    &__caption{
        border-bottom: 1px solid grey;
        padding-bottom: 10px;
        padding-left: 20px;

    }

    &__media{
        display: flex;
        align-self: center;
        margin: 10px 0;
        object-fit: contain;
        max-height: 500px;
    }

    &__likes-container{

        display: flex;
        border-top: 1px solid grey;
        padding-top: 10px;
        gap: 20px;
        padding-left: 20px;
    }
}