@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 20px;
  width: 100%;
}
.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 10px;

  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 50%;
  }

  &__caption {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    padding-left: 20px;
  }

  &__media {
    display: flex;
    align-self: center;
    margin: 10px 0;
    object-fit: contain;
    max-height: 500px;
    max-width: 100%;

    &--container {
      display: flex;
      justify-content: center;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
    padding-top: 10px;
    gap: 20px;
  }

  &__likes-container {
    display: flex;
    gap: 20px;
    padding-left: 10px;
  }

  &__like {
    color: green;
  }

  &__dislike {
    color: red;
  }

  &__isRead {
    display: flex;
    padding-right: 10px;
    gap: 10px;
  }

  &__comments{

  }

  &__comment-form{
    margin-top: 5px;
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px;
    justify-content: space-between;

    &--input{
      border: none;
      width: 100%;
    }

    &--btn{
      border-radius: 20px;
      background-color: red;
      color: white;
      border: 1px black solid;
      padding: 5px 10px;
    }
  }
}
.comment{
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;

  &__author{
    font-size: 16px;
  }
}
